* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}


body {
    background-color: #EBEBEB;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1600px;
    overflow: hidden;
    margin: auto;
}

.header_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_item {
    font-size: 15px;
    margin: 0 10px;
    font-weight: 700;
    color: #404040;
    transition: all .2s;
}

.header_item:hover {
    color: #3C8AFF;
}

.sect_1 {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 670px;
    position: relative;
    margin-bottom: 50px;
}

.sect_1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.71);
    z-index: 1;
}

.sect_1_text {
    position: relative;
    z-index: 2;
    padding-top: 15%;
    padding-left: 5%;
}

.sect_1_title {
    font-size: 60px;
    font-weight: 800;
    color: #EBEBEB;
    margin-bottom: 15px;
}

.sect_1_subtitle {
    font-size: 17px;
    font-weight: 300;
    color: #EBEBEB;
    margin-bottom: 70px;
    width: 700px;
}

.sect_1_btn {
    font-size: 24px;
    font-weight: 700;
    color: #404040;
    background-color: #EBEBEB;
    padding: 15px 70px;
    border-radius: 5px;
    transition: all .3s;
}

.sect_1_btn:hover {
    color: #EBEBEB;
    background-color: #3C8AFF;
    padding: 15px 80px;
    font-size: 26px;
    font-weight: 800;

}

.sect_2 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.sect_2_text {
    width: 50%;
    background-color: #3C8AFF;
    height: 340px;
}


.sect_2_img {
    background-image: url('https://pos.gosuslugi.ru/bin/banner-fluid/18/banner-fluid-bg-18-3.svg');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 50%;
    height: 340px;
}

.sect_2_img_logo {
    padding-top: 2%;
    padding-left: 2%;
    width: 100px;
}

.sect_2_text {
    padding-top: 5%;
    padding-left: 5%;
}

.sect_2_title {
    color: #EBEBEB;
    font-weight: 800;
    width: 80%;
    font-size: 30px;
    margin-bottom: 50px;
}

.sect_2_btn {
    font-size: 16px;
    font-weight: 700;
    color: #404040;
    background-color: #EBEBEB;
    padding: 15px 40px;
    border-radius: 5px;
    transition: all .3s;
}

.sect_2_btn:hover {
    font-size: 18px;
    color: #3C8AFF;
}

.sect_3 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.sect_3_item_one {
    background-image: url('https://static.gosweb.gosuslugi.ru/school/img/banner_family.png');
    background-repeat: no-repeat; 
    background-size: cover;
    width: 50%;
    height: 160px;
    border-radius: 20px;
    margin-right: 10px;
}



.sect_3_item_two {
    background-image: url('https://static.gosweb.gosuslugi.ru/school/img/banner_news.png');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 160px;
    border-radius: 20px;
    width: 50%;
    margin-left: 10px;
}

.sect_4 {
    background-color: #3C8AFF;
    padding: 40px 0;
    margin-bottom: 30px;
}

.sect_4_item_title {
    font-size: 64px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0px;
}

.sect_4_item_subtitle {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    width: 50%;
    margin: auto;
}

.sect_4_items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect_4_item {
    margin: 0 20px;
    width: 20%;
    text-align: center;
}

